data/mjf
data/mjf/*

data/albums/discogs_albums.csv


code/__pycache__/
code/__pycache__/*

code/musicBrainz/__pycache__/
code/musicBrainz/__pycache__/*


code/cleaning/__pycache__/
code/cleaning/__pycache__/*


code/utils/__pycache__/
code/utils/__pycache__/*